<!DOCTYPE html>
<html>
<head>
  <title>Gifling</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/gifling.css">
  <script src="javascripts/gifling.js"></script>
</head>
<body>

  <script type="text/x-handlebars">
    <div class="pure-g">
      <div class="page-title pure-u-1">
        <h1>GIFLING</h1>
      </div>
      <div class="pure-u-1-4"></div>
      <div id="new-gif" class="pure-u-3-4">
        <div class="new-gif">
          <h2>Make A Gif</h2>
          <input type="text"/>
          <button class="pure-button">MAKE GIF</button>
        </div>
      </div>
      <div id="folders" class="pure-u-1-4">
        <div class="folders-container">
          <h2>All The Folders</h2>
          <div class="folders-list">
            <div class="active">
              <a href="#/folder/all" class="folder ui-droppable">
                <span>ALL (0)</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="gifs" class="pure-u-3-4">
        <div class="gifs-container">
          <h2>All The Gifs</h2>
          <div class="gifs-list pure-g">
            <div class="gif pure-u-1-2 ui-draggable ui-draggable-handle">
              <img src="http://www.reactiongifs.com/wp-content/uploads/2011/09/mind_blown.gif">
            </div>
            <div class="gif pure-u-1-2 ui-draggable ui-draggable-handle">
              <img src="http://37.media.tumblr.com/c5334ee34d3a7a8a2cc434aa915ed84b/tumblr_n52nppEkfI1qdlh1io1_400.gif">
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

</body>
</html>

