<!DOCTYPE html>
<html>
<head>
  <title>Gifling</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/gifling.css">
  <script src="javascripts/gifling.js"></script>
</head>
<body>
  <script type="text/x-handlebars" data-template-name="gifs">

    <div class="pure-u-1-4"></div>
    <div id="new-gif" class="pure-u-3-4">
      <div class="new-gif">
        <h2>Make A Gif</h2>
        {{input type="text" id="new-gif" placeholder="MAKE GIF" value=newGifSrc action="createGif"}}
      </div>
    </div>

    <div class="pure-u-1-4"></div>
    <div id="gifs-list" class="pure-u-3-4">
      <div class="gifs-container">
        <h2>All The Gifs</h2>
        <div class="gifs-list pure-g">
          {{#each}}
          <div class="gif pure-u-1-2 ui-draggable ui-draggable-handle">
            <img {{bind-attr src=src}} alt="Logo">
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="application">
    <div class="pure-g" id="gifling">
      <div class="page-title pure-u-1">
        <h1>GIFLING</h1>
      </div>
      {{outlet}}
      <div id="folders" class="pure-u-1-4">
        <div class="folders-container">
          <h2>All The Folders</h2>
          <div class="folders-list">
            <div class="active">
              <a href="#/folder/all" class="folder ui-droppable">
                <span>ALL (0)</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-u-3-4"></div>
    </div>
  </script>
</body>
</html>

