<!DOCTYPE html>
<html>
<head>
  <title>Gifling</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/gifling.css">
  <script src="javascripts/gifling.js"></script>
</head>
<body>
  <script type="text/x-handlebars" data-template-name="gifs">
    <div class="pure-g" id="gif-section">
      <div class="pure-u-1">
        <div class="gif-header">
          <h2>All The Gifs</h2>
          {{input type="text" id="new-gif-input" placeholder="MAKE GIF" value=newGifSrc action="createGif"}}
          <button {{action "createGif"}} class="pure-button button-secondary">YOLO</button>
        </div>
        <div class="gifs-container">
          <div class="gifs-list pure-g">
            {{#each filteredGifs itemController="gif"}}
            <div class="gif pure-u-1-2 ui-draggable ui-draggable-handle">
              <img {{bind-attr src=src}} onerror="this.src = 'http://placekitten.com/g/400/400'" alt="Logo">
              <a href="#" {{action "removeGif"}} class="destroy">X</a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="folders">
    <div class="pure-g" id="folder-section">
      <div class="pure-u-1">
        <div class="folder-header">
          <h2>All The Folders</h2>
          {{input type="text" id="new-folder" placeholder="MAKE FOLDER" value=newFolderName action="createFolder"}}
          <button {{action "createFolder"}} class="pure-button button-secondary">YOLO</button>
        </div>
        <div class="folders-container">
          <div class="folders-list">
            <div class="active">
              <a href="#" class="folder ui-droppable">
                <span>ALL</span>
              </a>
            </div>
            {{#each itemController="folder"}}
              <div class="folder ui-droppable">
              {{#linkTo 'gifs' (query-params folder=name)}}
                <span>{{name}}</span>
              {{/linkTo}}
              <a href="#" {{action "removeFolder"}} class="destroy">X</a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="application">
    <div class="pure-g" id="gifling">
      <div class="page-title pure-u-1">
        <a href="#"><h1>GIFLING</h1></a>
      </div>
      <div class="pure-u-1-4">
        {{outlet folders}}
      </div>
      <div class="pure-u-3-4">
        {{outlet}}
      </div>
    </div>
  </script>

</body>
</html>
